<div class="Second" ng-controller="Secondcontroller">
<div class="welcome-message"><h1 style="font-family:Asian;margin-bottom:50px;color:black;font-weight:bolder;">WELCOME {{name.toUpperCase()}}</h1></div>
<div class="login-form">
  <form action="#" method="POST" name="loginForm" >
  <!-- Below are different elements of form as form-group -->
      <div class="form-group">
          <label style="font-size:20px;color:black" for="user-name">Name</label>
          <input style="height:40px;font-size:15px;"
          type="text" ng-minlength="3" class="form-control" id="user-name" placeholder="Enter your name " name="name" required ng-model="name">
            <div style="color:black" ng-show="loginForm.name.$error.required">Required!</div>
      </div>
      <div class="form-group">
          <label style="font-size:20px;color:black" for="user-email">Email Address</label>
          <input style="height:40px;font-size:15px;"
          type="email" class="form-control" id="user-email" placeholder="Email" name="email" required ng-model="email">
          <div ng-show="loginForm.email.$error.required">Required!</div>
          <div ng-show="loginForm.email.$error.email">This doesn't look like a valid email</div>
      </div>
      <div class="form-group">
          <label style="font-size:20px;color:black" for="location" >Enter your location</label>
              <input style="height:40px;font-size:15px;"
              type="text" list="location" class="form-control" required="" ng-model="location">
                <!-- datalist can be replaced with select but in datalist we can write text or edit text  -->
              <datalist  id="location">
                  <option value="New Delhi">New Delhi</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Ludhiana">Ludhiana</option>
                  <option value="other"></option>

              </datalist>
      </div>

<a ng-href="file:///C:/Users/kanchan kumari/Desktop/last_sem/index.html#!/Third"><button style="height:40px;font-size:20px;font-weight:bold;"  ng-disabled="loginForm.$invalid" class="btn2" >Next</button>
</a>
</div>
</div>
